.container {
    background: url('../../assets/bg-plant.png') bottom right no-repeat;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
}

.content-container {
    width: 55%;
}

.title {
    font-size: 22px;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
}

.title,
p {
    text-align: left;
}

p {
    width: 70%;
    line-height: 26px;
    color: #202020;
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 25px;
}

.small {
    opacity: 0.5;
    font-size: 22px;
}

.big {
    font-size: 82px;
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: 900;
    opacity: 1;
    color: #202020;
}



@media (max-width: 1200px) {


    .container {
        background: none;
        padding-top: 30px;
        height: auto;

        .content-container {
            margin: 0 auto;
            width: 100%;
            padding: 25px;

            .title,
            p {
                text-align: center;
            }

            p {
                margin: 25px auto;
            }
        }
    }
}

@media (max-width: 600px) {
    .big {
        font-size: 60px;
    }
}